<section id="" >

  <header>
    <h1><%= "Welcome #{@user.username}!"  %></h1>
      <h3>These are your current sessions:</h3>
      <ul>
          <% @spots.each do |spot| %>
          <li>
            <p><%= spot.course.name %> at <%= format_time(spot.session_datetime.in_time_zone('Eastern Time (US & Canada)')) %> EST time.</p>
          </li>
          <% end %>
      </ul>
     <h3>These are all of the sessions in the next week:</h3>
      <ul>
          <% @all_spots.each do |spot| %>
            <li>
            <p><%= spot.course.name %> at <%= format_time(spot.session_datetime.in_time_zone('Eastern Time (US & Canada)')) %> EST time.</p>
            </li>
          <% end %>
      </ul>
      <h3>These are the sessions you've attended:</h3>
      <ul>
          <% @previous_spots.each do |spot| %>
            <li>
            <p><%= spot.course.name %> on <%= format_time(spot.session_datetime.in_time_zone('Eastern Time (US & Canada)')) %> EST time.</p>
            </li>
          <% end %>
      </ul>
  </header>


</section>